

<!-- Logo + Intro text-->
<div class="row voh-intro-text">
    <div class="col-lg-4">
        <div class="flude-logo-holder"><img class="flude-logo" src='src/images/flude-logo.png'></div>

        <div class="flude-intro-text">The Forest Land Use Data Explorer (FLUDE) is an online platform intended to make it easy to access and analye forest land use and forest resource data.  Most of the forest land use and resource data come from the Global Forest Resources Assessment 2015. 
            <br><br>
            However, forest resource change generally happens as a result in changes outside  the forest – for example, demands for agricultural land, urban use, mining or infrastructure development. 
            <br><br>
            The FLUDE also provides access to many databases that relate to forests, including agriculture, rangelands, demographics, market prices, land use classifications and maps.  It allows you as the user to download data or assemble and analyze data to explore the complex world of forest land use change. 
            <br><br>
            We hope that you take advantage of the analytical power that the FLUDE allows – particularly the access and integration of multiple land use-related datasets. </div>


        <h3 class="flude-small-title">CONTACTS</h3>

        <div class="row">
            <div class="col-xs-6" style="padding-right: 0px;">
                <div class="flude-contact">
                    <b>Kenneth MacDicken</b><br>
                    Senior Forestry Officer/Team Leader<br>
                    Global Forest Resources Assessment<br>
                    Email: Kenneth.MacDicken@fao.org<br>
                </div>
            </div>
            <div class="col-xs-6" style="padding-right: 0px;">
                <div class="flude-contact">
                    <b>Name Surname</b><br>
                    Project Manager<br>
                    Forestry resources Assessment<br>
                    Email: name.sur@fao.org<br>
                </div>
            </div>

        </div>


<!--        <h2 class="flude-title-square" > Database Update</h2>
        <div class="db-updates-list-holder">
            <ul id="db-updates-list" class="db-updates-list"><li>
                <div class="db-update-ico"><span class="icojam_geography_globe"></span></div>
                <h3> Title 1</h3>
                <span class="db-update-country">COUNTRY EXAMPLE</span> <span class="db-update-date">2015-05-10</span><br>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac nisl ultricies, suscipit est ac, euismod neque. Duis a vulputate orci. </p>
                <a class="db-update-link">GO TO DOWNLOAD <i class="fa fa-caret-right"></i></a>
            </li></ul>
        </div>-->

        <h2 class="flude-title-square" >Partners</h2>
        <div data-role="partners">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" data-partner='fra'><a href="#partner-fra"  aria-controls="home" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='fe'><a href="#partner-fe"  aria-controls="profile" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='unece'><a href="#partner-unece"  aria-controls="messages" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='mp'><a href="#partner-mp"  aria-controls="settings" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='ofac'><a href="#partner-ofac"  aria-controls="settings" role="tab" data-toggle="tab"></a></li>
                <li role="presentation" data-partner='itto'><a href="#partner-itto"   aria-controls="settings" role="tab" data-toggle="tab"></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="partner-fra">{{ home_partner_fra }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-fe">{{ home_partner_fe }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-unece">{{ home_partner_unece }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-mp">{{ home_partner_mp }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-ofac">{{ home_partner_ofac }}</div>
                <div role="tabpanel" class="tab-pane fade" id="partner-itto">{{ home_partner_itto }}</div>
            </div>

        </div>


    </div>
    <div class="col-lg-8">

        <img class="img-responsive flude" src='src/images/home-bg.jpg'>
    </div>
</div>