<!--<li class="list-group">-->

    <!--<div class="list-group-item">-->
        <!--<h2 class="doc-title"><a href="#" >{{title}}</a></h2>-->
        <!--<span class="field"><b>{{date_start}}</b></span>  -->
        <!--{{#if date_end}} - <span class="date">{{date_end}}</span> {{/if}}-->
        <!--{{#if country}} - <span class="country">{{country}}</span> {{/if}}-->
        <!--{{#if venue}} - <span class="venue">{{venue}}</span> {{/if}}-->
		<!--<br />-->
		  <!--{{#if category}}-->

		        <!--{{#each category}}-->
		    		<!--<span class="label label-default">{{this}}</span> -->
				<!--{{/each}}-->
		        <!---->
		        <!--{{/if}}-->
    <!--</div>-->
    <!--<div class="list-group-item">-->
        <!--<p class="intro">-->
		 <!--{{description}}-->
		<!---->
		  <!--{{#if long_description}}-->
		 <!--<br />-->
		<!--<a data-toggle="collapse" data-parent="#accordion" href="#readmore{{id}}" aria-expanded="true" aria-controls="collapseOne">-->
	    	<!--<span class="caret"></span> <small>Read More</small>-->
	    <!--</a>-->
		<!--<div id="readmore{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
	  <!--<div class="panel-body">-->
	   <!--{{long_description}}-->
		<!--</div>-->
		<!--</div>-->
		  <!--{{/if}}-->
        <!--</p>-->
    <!--</div>-->

	<!--<div class="panel panel-default">-->
	<!---->
	 <!--{{#if attachments.PI}}-->
	 <!--<div class="panel-heading" role="tab" id="headingOne">-->
	 <!--<h4 class="panel-title">-->
	    <!--<a data-toggle="collapse" data-parent="#accordion" href="#pict{{id}}" aria-expanded="true" aria-controls="collapseOne">-->
	    	<!--<span class="caret"></span> <small>Pictures</small>-->
	    <!--</a>-->
	  <!--</h4>-->
	  <!--</div>-->
		<!--<div id="pict{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
 <!---->
			<!--<div class="list-group-item item-line">-->
		        <!--<span class="field-title field">Pictures</span><ul class="list-unstyled">-->
		       <!--{{#each attachments.PI}}-->
			   <!--<li><img src="{{this.file_name}}" target="blank" onerror="this.src='images/nopic.jpg'"/>-->
			   <!--{{this.attachment_title}}-->
			   <!--</li>	-->
			   <!--{{/each}}-->
		       <!--</ul>-->
		    <!--</div>-->
			<!---->
		<!--</div>-->
	 <!--{{/if}}-->

	<!--<div class="panel-heading" role="tab" id="headingOne">-->
	  <!--<h4 class="panel-title">-->
	    <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}" aria-expanded="true" aria-controls="collapseOne">-->
	    	<!--<span class="caret"></span> <small>Attachments</small>-->
	    <!--</a>-->
	  <!--</h4>-->
	<!--</div>-->
	<!--<div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
	  <!--<div class="panel-body">-->

		   <!---->
			 <!--{{#if attachments.L}}-->
			<!--<div class="list-group-item item-line">-->
		        <!--<span class="field-title field">Links</span>-->
				<!--<ul class="list-unstyled">-->
		       <!--{{#each attachments.L}}-->
		    					<!--<li><a href="{{this.file_name}}" target="blank">{{this.attachment_title}}</a>-->
						 <!--{{#if this.attachment_description}}<ul>{{this.attachment_description}}</ul>{{/if}}-->
						<!--</li>	-->
				<!--{{/each}}-->
		       <!--</ul>-->
		       <!---->
		    <!--</div>-->
			 <!--{{/if}}-->
			 <!---->
			  <!--{{#if attachments.PR}}-->
			<!--<div class="list-group-item item-line">-->
		        <!--<span class="field-title field">Presentations</span><ul class="list-unstyled">-->
		       <!--{{#each attachments.PR}}-->
		    				    			<!--<li><a href="{{this.file_name}}" target="blank">{{this.attachment_title}}</a>-->
											 <!--{{#if attachment_size}}({{attachment_size}}) {{/if}}-->
						 <!--{{#if this.attachment_description}}<ul class="list-unstyled">{{this.attachment_description}}</ul>{{/if}}-->
						<!--</li>		{{/each}}-->
		       <!--</ul>-->
		    <!--</div>-->
			 <!--{{/if}}-->
			 <!---->
			 <!---->
			  <!--{{#if attachments.D}}-->
			<!--<div class="list-group-item item-line">-->
		        <!--<span class="field-title field">Documents</span><ul class="list-unstyled">-->
		       <!--{{#each attachments.D}}-->
		    			    			<!--<li><a href="{{this.file_name}}" target="blank">{{this.attachment_title}}</a>-->
										 <!--{{#if attachment_size}}({{attachment_size}}) {{/if}}-->
						 <!--{{#if this.attachment_description}}<ul class="list-unstyled">{{this.attachment_description}}</ul>{{/if}}-->
						<!--</li>	 {{/each}}-->
		       <!--</ul>-->
		    <!--</div>-->
			 <!--{{/if}}-->
			 <!---->
			<!---->
			 <!---->


	  <!--</div>-->
	<!---->
	<!--</div>-->
	<!--</div>-->
<!--</li>-->

<li class="list-group">

    <div class="list-group-item">

        <h2 class="doc-title"><a href="#repo" class="doc-title">{{PublicationName}}</a></h2>
        <span class="field"><b>{{PublicationSource}}</b></span> - <span class="date">{{PublicationDate}}</span>
    </div>
    <div class="list-group-item">
        <p class="intro">
			{{PublicationDescription}}
        </p>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{PublicationId}}" aria-expanded="true" aria-controls="collapseOne">
                    <span class="caret"></span> <small>Details</small>
                </a>
            </h4>
        </div>
        <div id="collapse{{PublicationId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

                <!--div class="list-group-item item-line">
		        <span class="field-title field">TAGS</span><b>
		        {{#if DocumentTags}}
					{{#each DocumentTags}}
		    		<span class="label label-default">{{this}}</span>
				{{/each}}
				{{else}}
		            <span>No tags</span>
		        {{/if}}
		        </b>
		    </div-->
                <div class="list-group-item item-line">
                    <span class="field-title field">Category</span><b>

					{{#if Category}}

						{{#each Category}}
                            <span class="label label-default">{{this}}</span>
						{{/each}}
					{{else}}
                        <span>No Category</span>
					{{/if}}
                </b>
                </div>
                <div class="list-group-item item-line">
                    <span class="field-title field">LANGUAGE</span><span>{{DocumentLanguage}}</span>
                </div>
                <div class="list-group-item item-line">
                    <span class="field-title auth">AUTHOR</span><span>{{PublicationAuthorName}}</span>
                </div>
                <div class="list-group-item attach">
                    <span class="field-title sector-theme">ATTACHMENT</span>
                    <a href="http://fenixrepo.fao.org/afo/publications/attachments/{{DocumentSource}}" class="file-type icojam_{{DocumentType}}" target="_blank">{{DocumentSource}}</a>
                </div>

            </div>
        </div>
    </div>
</li>